################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FishbowlConnect/v15
/.vs
/packages
/FishbowlConnect/obj
/FishbowlConnect/bin
/NUnit.FishbowlConnectTests/bin
/NUnit.FishbowlConnectTests/obj
